@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .mesh-paren {
    display: none;
  }

  .mesh-child-0 {
    display: none;
  }

  .mesh-child-1 {
    display: none;
  }

  .group-0 {
    display: none;
  }
}